/Jocation_v1.2/
/JocationPlus/bin/
/JocationPlus/obj/
/packages/
/.vs/
/JocationPlus/publish/
/JocationPlus/bin/
/JocationPlus/obj/
/JocationPlus/drivers/
/Jocation_v1.5/
/packages/
/app/
/JocationPlus/drivers/
/drivers/11.3/
/drivers/11.4/
/drivers/12.0/
/drivers/12.1/
.git/
/JocationPlus_v1.6/
/JocationPlus_v1.7/
/JocationPlus_v1.7.1/
/JocationPlus_v1.8/
*.zip